/* ====================
 CSS VARIABLES
======================= */
:root {
    --black: #131313;
    --off-white: hsla(240, 7%, 100%, 1);
    --bg-light: #EBF6F2;
    --bg-navbar: #DEDBFE;
    --bg-dark: #167973;
    --content-bg-light: #D7ECE5;
    --attendance-bg:#FBE6CC;
    --link-color: #6354F7;
    --link-hover-color: #872CA7;
    --highlight-color: #6354F7;
    --btn-bright: #FE6146;
    --btn-bright-hover: #C84832;
    --btn-bg-color-light: #C7C4E3;
    --alert-color: rgba(196, 61, 55, 0.3);
    --header-icon-hover-color: #872CA7;
    --border-light: #D7DADD;
}

*, *:before, *:after {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* ====================
 TYPOGRAPHY
======================= */
a {
    text-decoration:none;
    color: var(--link-color);
    cursor: pointer;
}

a:hover, a:focus {
    color: var(--link-hover-color);
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: "Lexend Deca", serif;
}

.heading {
    font-size: 3.3rem;
}

.heading-sans-serif {
    font-family: 'Lexend Deca', sans-serif;
}

.subheading {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

/* ====================
 GENERAL LAYOUT
======================= */
.container {
    width: 100%;  
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 1.5em;
    /* border: 1px solid red; */
}

.container-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form {
    display: none;
}

.subheading {
    margin-bottom: 2.5em;
}



.form {
    max-width: 600px;
}

.form-field {
    margin-bottom: 1.2em;
}

.input-field:last-child {
    margin-bottom: 0;
}

.form-select--light {
    display: block;
    border: unset;
    padding: 0.8em 1.2em;
    border: 1px solid var(--border-light);
    border-radius: 0.5em;   
}


@media screen and (min-width: 968px) {
    
    .wrapper-form {
        background: var(--bg-light);
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    
    .container-form {
        height: unset;
        align-items: stretch;
        padding: 0;
        box-shadow: 0 3px 20px rgba(0,0,0,0.2);
        border-radius: 25px;
        max-width: 1000px;
        margin: 3em 2.5em;
        /* border: 1px solid red; */
    }

    .header-form {
        display: block;
        background: var(--bg-dark);
        border-radius: 25px 0 0 25px;
        /* border: 1px solid blue; */
        padding: 0 3.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--off-white);
        flex-grow: 1;
    }

    .content-form {
        background: var(--off-white);
        border-radius: 0 25px 25px 0;
        display: flex;
        flex-direction: column;
        padding: 2em 3.8em;
        flex-shrink: 0;
    }

    .form {
        max-width: 350px;
        margin-top: 1.2em;
    }

    .form-footer {
        margin-top: 0.5em;
    }
}




/* ====================
 FLASH MESSAGE STYLES
======================= */

.info {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* ====================
 BUTTON STYLES
======================= */
.btn {
    border: unset;
}

.btn-form {
    border: none;
    width: 100%;
    background: var(--black);
}

.btn-form:hover, .btn-form:focus {
    background: var(--bg-dark);
    color: #FFF;
}

.btn-delete {
    background-color: #521450;
    color: #FFFFFF;
}

.btn-details {
    background-color: #832080;
    color: #FFFFFF; 
}

.btn-update {
    background-color: #AA50CC;
    color: #FFFFFF;
}

.btn-add {
    background-color: #17B890;
    color: #FFFFFF;
}

/* ====================
 HEADER & NAV 
======================= */
/* temporarily hide bootstrap navbar */
.header-main {
    /* border: 1px solid green; */
    position: relative;
}

/* custom navbar styles */
.navbar-custom {
    padding: 2.7em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    text-align: center;
    line-height: 0.8em;
}

.navbar-logo-text {
    font-family: 'Zilla Slab', serif;
    font-size: 2.2rem;
    color: #131313;
}

.navbar-logo-text:hover, .navbar-logo:focus {
    color: #167973;
}

.navbar-icon {
    background: #131313;
    color: #131313;
    border: unset;
    background: unset;
    font-size: 2.3rem;
    /* border: 1px solid pink; */
}

.navbar-icon:hover, .navbar-icon:focus {
    color: var(--header-icon-hover-color);
}

.navbar-panel {
    position: absolute;
    z-index: 1;
    background: var(--bg-navbar);
    top: 0;
    left: 0;
    height: 100vh;
    padding: 1.2em 0.6em;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
}

.navbar-icon--close {
    font-size: 2em;
    padding: 0;
    margin-left: 0.6em;
}

.navbar-list {
    margin-top: 4.75em;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    margin-bottom: 0.3em;
}

.nav-item--link {
    display: block;
    width: 100%;
    padding: .6em 1.3em;
    color: var(--black);
    font-weight: 600;
    font-size: 1.125rem;
}

.nav-item--link:hover, .nav-item--link:focus {
    background: var(--btn-bg-color-light);
    color: var(--black);
    border-radius: 0.4em;
}

.menu-icon {
    font-size: 1.4em;
    margin-right: 1.125em;
}

.nav-link--sign {
    margin: 3.5em auto;
    text-align: center;
    background: var(--black);
    color: #FFF;
    border-radius: 0.4em;   
    border: 2px solid var(--black);
    width: 70%;
}

.nav-link--sign:hover, .nav-link--sign:focus {
    border: 2px solid var(--black);
    background: none;
}

/* ====================
 SIGN IN PAGE - login.html 
======================= */
.heading-sign-in, .subheading {
    text-align: center;
}

.input-field:focus { 
    outline: 1px solid var(--highlight-color);
}

/* custom checkbox styling */

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 1em 0 1.5em 0;
}

.checkbox__input {
    display: none;
}

.checkbox__box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ced4da;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 150ms, border-color 150ms;
}

.checkbox__box::after {
    content: '\2714';
    color: #FFF;
    transform: scale(0); /* initially at 0% scale */
    transition: transform 150ms;
} 

/* when checkbox input is checked it will select checkbox__box element (sibling after checkbox) */
.checkbox__input:checked + .checkbox__box {
    background: var(--highlight-color);
    border-color: var(--highlight-color);
    transition: background 150ms, border-color 150ms;
}

.checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
    transition: transform 150ms;
}

.form-footer {
    margin-top: 1.5em;
}

/* media queries */
@media screen and (min-width: 968px) {
    .header-title {
        font-size: 4rem;
    }

    .header-description {
        font-size: 1.6rem;
        font-weight: 200;
        margin-top: 1.3em;
    }
}
/* ====================
 SIGN UP PAGE - register.html 
======================= */
.heading-sign-up {
    font-size: 2rem;
    text-align: center;
}

.btn-form {
    margin-top: 1.4em;
}

.form-alert {
    padding: 0.6em 0.4em;
    background: var(--alert-color);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1.2em;
}


/* ====================
 HOME PAGE - index.html 
======================= */
.date-wrapper {
    text-align: center;
    padding: 0.625em 0.5em;
    background: var(--content-bg-light);
    border-radius: 1.1em;
}

.date-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.date-info {
    font-size: 1.4rem;
}
/* Log Attendance */
.attendance {
    background: var(--attendance-bg);
    margin: 3.125em auto;
    padding: 1.75em 0em;
    border-radius: 1.1em;
}

.attendance__title {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    text-align: center;
}

.attendance__form {
    width: 100%;
    margin: 2.375em auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
}

.attendance__fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4em;
    padding: 0 1.5em;
   
}

.attendance__field--date {
    flex-basis: 50%;
    margin-right: 0.5em;
}

.attendance__field-input {
    width: 100%;
    border: unset;
    padding: 0.8em 1.2em;
    border-radius: 0.5em;
    cursor: pointer;
}

.attendance__field--student {
    flex-basis: 50%;
    margin-left: 0.5em;
}

.attendance__student-input {
    position: relative;
}

.attendance__field-input--student {
    padding-right: 2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.attendance__dropdown {
    display: block;
    background: transparent;
    height: 100%;
    width: 2rem;
    position: absolute;
    top: 1.3em;
    right: 0.5em;
    pointer-events: none
}

.attendance__dropdown:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.7em solid transparent;
    border-right: 0.7em solid transparent;
    border-top: 0.7em solid #131313;
}

.attendance__field-label {
    text-align: left;
    font-size: 1.125rem;
}

.attendance__btn {
    text-align: center;
    background: var(--btn-bright);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 1.5em;
}

.attendance__btn:hover, .attendance__btn:focus {
    background: #C84832;
    color: #FFF;
}

/* Scheduled Activities */
.activities {
    border: 3px solid #131313;
    border-radius: 0.5em;
    padding: 3em 1.5em;
}

.activities__wrapper {
    margin-top: 2em;
}

.activities__title {
    text-align: center;
    text-transform: uppercase;
}

.activities__form {
    display: flex;
    flex-direction: column;
}

.activities__field-wrapper {
    display: flex;
    flex-direction: column;
}

.activities__field {
    width: 100%;
    margin-right: 1.2em;
}

.activities__field:last-child {
    margin-right: 0;
}

.activities__input {
    position: relative;
}

.activities__field-input {
    padding-right: 2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
}

.activities__input-dropdown {
    display: block;
    background: transparent;
    height: 100%;
    width: 2rem;
    position: absolute;
    top: 1.3em;
    right: 0.5em;
    pointer-events: none
}

.activities__input-dropdown:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.7em solid transparent;
    border-right: 0.7em solid transparent;
    border-top: 0.7em solid #131313;
}

.activities__btn {
    margin-top: 1.2em;
    flex-basis: auto;
    background: var(--btn-bright);
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    width: auto;
    /* align-self: center; */
}

.activities__btn:hover, .activities__btn:focus {
    background: var(--btn-bright-hover);
    color: #FFF;
}

/* Initial add students & subjects form for new user */

#add-students-form, #add-subjects-form {
    margin-bottom: 40px;
}

#student-container input, #subject-container input {
    margin-bottom: 10px;
}


/* ====================
 ADD STUDENTS & SUBJECTS - add.html 
======================= */
.text-area {
    display: block;
}

.form-float {
    display: inline-flex;

}

.float-item {
    padding-right: 30px;
}

/* Log */
.activity-log-header {
    padding-top: 30px;
}

@media screen and (min-width: 676px) {
    .modal-dialog {
        max-width: 600px;
    }
}

/* attendance.html */
#log-container {
    background-color: #83c5be;
    padding: 10px;
    margin: 0 auto;
}

#log-attendance {
    margin: 0 auto;
}

#log-attendance-form {
    display: flex;
    justify-content: center;
}
#log-attendance-form div {
    margin-right: 30px;
}

#log-attendance-form p {
    margin-top: 33px;
}

/* profile.html */
.profile-container {
    margin-top: 50px;
}

.profile-flex {
    display: flex;
    margin-top: 50px;
}

.profile-heading {
    font-size: 33px;
    font-family: 'Work Sans', sans-serif;
}

.profile-btn {
    margin-bottom: 20px;
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}

/* TABLES */
.table-dark {
    background-color: #161619;
    color: #FFFFFF;
}

