/* CSS RESET */


/* MY CUSTOM CSS */

body {
    background-color: #a8dadc;
}

.header h1 {
    text-align: center;
    margin-top: 2rem;
}


#submit, #modal-add-btn {
    background-color: #e76f51;
    text-transform: uppercase;
    border: none;
}

/* Flash Messaging */

.info {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* Index Page */
h1 {
    font-size: 40px;
}


/* Add Activity Page */
.text-area {
    display: block;
}

.form-float {
    display: inline-flex;

}

.float-item {
    padding-right: 30px;
}

/* Log */
.activity-log-header {
    padding-top: 30px;
}

