/* ====================
 CSS VARIABLES
======================= */
:root {
    --black: #131313;
    --white: #FFFFFF;
    --bg-light: #EBF6F2;
    --bg-navbar: #DEDBFE;
    --bg-dark: #167973;
    --bg-activity-display: hsla(245, 100%, 95%, 0.9);
    --bg-completed: hsla(160, 36%, 88%, 1);
    --bg-notcompleted: hsla(246, 91%, 65%, 0.21);
    --bg-cell-hover: hsla(245, 100%, 96%, 0.7);
    --bg-cell-hover-dark: hsla(245, 100%, 93%, 0.7);
    --completed-color: hsla(176, 69%, 28%, 1);
    --notcompleted-color: hsla(246, 54%, 53%, 1);
    --content-bg-light: #D7ECE5;
    --attendance-bg:#FBE6CC;
    --link-color: #6354F7;
    --link-hover-color: #872CA7;
    --highlight-color: #6354F7;
    --btn-bright: #6354F7;
    --btn-bright-hover: #872CA7;
    --btn-activity-display: hsla(246, 91%, 65%, 1);
    --btn-activity-display-hover: hsla(246, 91%, 55%, 1);
    --btn-bg-color-light: #C7C4E3;
    --btn-edit: hsla(33, 85%, 89%, 1);
    --btn-details: hsla(220, 78%, 89%, 1);
    --btn-delete: hsla(3, 56%, 49%, 0.3);
    --btn-edit-hover: hsla(33, 85%, 79%, 1);
    --btn-details-hover: hsla(220, 78%, 79%, 1);
    --btn-delete-hover: hsla(3, 66%, 42%, 0.4);
    --alert-color: rgba(196, 61, 55, 0.3);
    --header-icon-hover-color: #872CA7;
    --border-light: #dee2e6;
    --border-dark: #167973;
}

*, *:before, *:after {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: #131313;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* ====================
 TYPOGRAPHY
======================= */
a {
    text-decoration:none;
    color: var(--link-color);
    cursor: pointer;
}

a:hover, a:focus {
    color: var(--link-hover-color);
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: "Lexend Deca", serif;
}

.heading {
    font-size: 3.3rem;
}

.heading-sans-serif {
    font-family: 'Lexend Deca', sans-serif;
}

.subheading {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

/* ====================
 FLASH MESSAGE STYLES
======================= */

.info {
    color:  hsla(160, 36%, 28%, 1);
    background: hsla(160, 36%, 88%, 1);
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
}

.error, .message {
    color:  hsla(3, 56%, 39%, 1);
    background: hsla(3, 56%, 49%, 0.3);
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
}

/* ====================
 BUTTON & LINK STYLES
======================= */
.btn {
    border: unset;
    cursor: pointer;
}

.btn-form {
    border: none;
    width: 100%;
    background: var(--black);
}

.btn-form:hover, .btn-form:focus {
    background: var(--bg-dark);
    color: #FFF;
}

.btn-edit {
    background-color: var(--btn-edit);
    color: var(--black);
}

.btn-edit:hover, .btn-edit:focus {
    background-color: var(--btn-edit-hover);
}

.btn-details {
    background-color: var(--btn-details);
    color: var(--black); 
}

.btn-details:hover, .btn-details:focus {
    background-color: var(--btn-details-hover);
}

.btn-delete {
    background-color: var(--btn-delete);
    color: var(--black);
}

.btn-delete:hover, .btn-delete:focus {
    background-color: var(--btn-delete-hover);
}

.btn--dark {
    background: var(--black);
    color: #FFF;
    border: 2px solid var(--black);
    font-weight: 700;
}

.btn--dark:hover, .btn--dark:focus {
    background: #FFF;
    color: var(--black);
}

.controls-icon {
    margin-right: 0.5em;
}

.btn-back {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

/* ====================
 CUSTOM CHECKBOX STYLING
======================= */

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 1em 0 1.5em 0;
}

.checkbox__input {
    display: none;
}

.checkbox__box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ced4da;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-right: 0.8em;
    justify-content: center;
    flex-shrink: 0;
    transition: background 150ms, border-color 150ms;
}

.checkbox__box::after {
    content: '\2714';
    color: #FFF;
    transform: scale(0); /* initially at 0% scale */
    transition: transform 150ms;
} 

/* when checkbox input is checked it will select checkbox__box element (sibling after checkbox) */
.checkbox__input:checked + .checkbox__box {
    background: var(--highlight-color);
    border-color: var(--highlight-color);
    transition: background 150ms, border-color 150ms;
}

.checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
    transition: transform 150ms;
}

/* ====================
 HEADER & NAV 
======================= */
.header-main {
    /* border: 1px solid green; */
    position: relative;
}

/* custom navbar styles */
.navbar-custom {
    padding: 2.7em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    text-align: center;
    line-height: 0.8em;
}

.navbar-logo-text {
    font-family: 'Zilla Slab', serif;
    font-size: 2.2rem;
    color: #131313;
}

.navbar-logo-text:hover, .navbar-logo:focus {
    color: #167973;
}

.navbar-icon {
    background: #131313;
    color: #131313;
    border: unset;
    background: unset;
    font-size: 2.3rem;
    /* border: 1px solid pink; */
}

.navbar-icon:hover, .navbar-icon:focus {
    color: var(--header-icon-hover-color);
}

.navbar-panel {
    position: absolute;
    z-index: 1;
    background: var(--bg-navbar);
    top: 0;
    left: 0;
    height: 100vh;
    padding: 1.2em 0.6em;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
}

.navbar-icon--close {
    font-size: 2em;
    padding: 0;
    margin-left: 0.6em;
}
.navbar-panel-logo {
    margin-top: 1.6em;
}

.navbar-panel-logo__text {
    display: block;
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    color: var(--black);
    margin-left: 0.8em;
}

.navbar-panel-logo__text:hover {
    color: var(--black);
}

.navbar-list {
    margin-top: 4.75em;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    margin-bottom: 0.3em;
}

.nav-item--link {
    display: block;
    width: 100%;
    padding: .6em 1.3em;
    color: var(--black);
    font-weight: 600;
    font-size: 1.125rem;
}

.nav-item--link:hover, .nav-item--link:focus {
    background: var(--btn-bg-color-light);
    color: var(--black);
    border-radius: 0.4em;
}

.menu-icon {
    font-size: 1.4em;
    margin-right: 1.125em;
}

.nav-link--sign {
    margin: 3.5em auto;
    text-align: center;
    background: var(--black);
    color: #FFF;
    border-radius: 0.4em;   
    border: 2px solid var(--black);
    width: 70%;
}

.nav-link--sign:hover, .nav-link--sign:focus {
    border: 2px solid var(--black);
    background: none;
}

@media screen and (min-width: 968px) {
    .container-main {
        /* border: 2px solid red; */
        display: grid;
        grid-gap: 1.4rem;
        grid-template-columns: minmax(auto, 240px) 1fr;
    }
    
    .navbar-panel {
        transform: translateX(0);
        position: unset;
        position: fixed;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-panel-logo {
        margin-top: 1.8em;
        padding-right: 0.8em;
    }

    .navbar-icon {
        display: none;
    }
}

/* ====================
 GENERAL LAYOUT
======================= */
.container {
    width: 100%;  
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 1.5em;
    /* border: 1px solid red; */
}

.container-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-form {
    display: none;
}

.header-title {
    font-family: 'Zilla Slab', serif;
}

.header-title, .header-description {
    color: #FFF;
}

.subheading {
    margin-bottom: 2.5em;
}


.form {
    max-width: 600px;
}

.form-field {
    margin-bottom: 1.2em;
}

.input-field:last-child {
    margin-bottom: 0;
}

.form-select--light {
    display: block;
    border: unset;
    padding: 0.8em 1.2em;
    border: 1px solid var(--border-light);
    border-radius: 0.5em;   
}


@media screen and (min-width: 968px) {

    .wrapper-form {
        background: var(--bg-light);
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    
    .container-form {
        height: unset;
        flex-direction: row;
        align-items: stretch;
        padding: 0;
        box-shadow: 0 3px 20px rgba(0,0,0,0.2);
        border-radius: 25px;
        max-width: 1000px;
        margin: 3em 2.5em;
        /* border: 1px solid red; */
    }

    .header-form {
        display: block;
        background: var(--bg-dark);
        border-radius: 25px 0 0 25px;
        /* border: 1px solid blue; */
        padding: 0 3.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--off-white);
        flex: 1 1 auto;
        width: 40%;
    }

    .header-title {
        font-size: 3rem;
    }

    .header-description {
        font-size: 1.4rem;
        font-weight: 200;
        margin-top: 1.3em;
    }

    .content-form {
        background: #FFF;
        border-radius: 0 25px 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 3.8em;
        flex: 2 0 auto;
    }

    .form {
        max-width: 500px;
        margin-top: 0em;
    }

    .form-footer {
        margin-top: 0.5em;
    }
}






/* ====================
 SIGN IN PAGE - login.html 
======================= */
.heading-sign-in, .subheading {
    text-align: center;
}

.input-field:focus { 
    outline: 1px solid var(--highlight-color);
}



.form-footer {
    margin-top: 1.5em;
}

/* media queries */
@media screen and (min-width: 968px) {
  
}
/* ====================
 SIGN UP PAGE - register.html 
======================= */
.heading-sign-up {
    font-size: 2rem;
    text-align: center;
}

.heading-text-logo {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
}

.content-form__subheading {
    font-weight: 700;
    text-align: center;
}

.btn-form {
    margin-top: 1.4em;
}

.form-alert {
    padding: 0.6em 0.4em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    background: var(--alert-color);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1.2em;
}

@media screen and (min-width: 968px) {
    .form__user-info {
        display: flex;
    }

    .form__user-info-field {
        width: 100%;
        margin-right: 0.5em;
    }

    .form__user-info-field:last-child {
        margin-right: 0;
    }
}

/* ====================
 HOME PAGE - index.html 
======================= */

/* ADD STUDENT & SUBJECTS ONBOARDING FORM */

.add-user-info__form-group {
    margin-bottom: 3.5em;
}

.add-user-info__form-group:last-of-type {
    margin-bottom: 2em;
}



/* MAIN HOME PAGE */

.date-wrapper {
    text-align: center;
    padding: 0.625em 0.5em;
    /* border: 2px solid var(--black); */
    /* border-radius: 0.5em; */
}

.date-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.date-info {
    /* display: inline-block; */
    font-size: 1.4rem;
    text-align: center;
    /* text-transform: uppercase; */
    border-bottom: 5px solid var(--link-hover-color);
}

.date-info-data {
    font-weight: 700;
}

/* Log Attendance */

.attendance {
    background: var(--content-bg-light);
    margin: 3.125em auto;
    padding: 1.75em 0em;
    border-radius: 1.1em;
}

.attendance__title {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    text-align: center;
}

.attendance__form {
    width: 100%;
    margin: 2.375em auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
}

.attendance__fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4em;
    padding: 0 1.5em;
   
}

.attendance__field--date {
    flex-basis: 50%;
    margin-right: 0.5em;
}

.attendance__field-input {
    width: 100%;
    border: unset;
    padding: 0.8em 1.2em;
    border-radius: 0.5em;
    cursor: pointer;
}

.attendance__field--student {
    flex-basis: 50%;
    margin-left: 0.5em;
}

.attendance__student-input {
    position: relative;
}

.attendance__field-input--student {
    padding-right: 2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.attendance__dropdown {
    display: block;
    background: transparent;
    height: 100%;
    width: 2rem;
    position: absolute;
    top: 1.3em;
    right: 0.5em;
    pointer-events: none
}

.attendance__dropdown:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.7em solid transparent;
    border-right: 0.7em solid transparent;
    border-top: 0.7em solid #131313;
}

.attendance__field-label {
    text-align: left;
    font-size: 1.125rem;
}

.attendance__btn {
    text-align: center;
    border: 3px solid var(--black);
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em 1.5em;
}

.attendance__btn:hover, .attendance__btn:focus {
    background: var(--black);
    color: #FFF;
}

/* Scheduled Activities */
.activities {
    border: 3px solid #131313;
    border-radius: 1.1em;
    padding: 3em 1.5em;
    /* background: var(--content-bg-light); */

}

.activities__wrapper {
    margin-top: 2em;
}

.activities__title {
    text-align: center;
    text-transform: uppercase;
}

.activities__form {
    display: flex;
    flex-direction: column;
}

.activities__field-wrapper {
    display: flex;
    flex-direction: column;
}

.activities__field {
    width: 100%;
    margin-bottom: 1.2em;
}

.activities__field:last-child {
    margin-bottom: 0;
}

.activities__input {
    position: relative;
}

.activities__field-input {
    padding-right: 2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
}

.activities__input-dropdown {
    display: block;
    background: transparent;
    height: 100%;
    width: 2rem;
    position: absolute;
    top: 1.3em;
    right: 0.5em;
    pointer-events: none
}

.activities__input-dropdown:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.7em solid transparent;
    border-right: 0.7em solid transparent;
    border-top: 0.7em solid #131313;
}

.activities__btn {
    margin-top: 1.2em;
    flex-basis: auto;
    background: var(--link-hover-color);
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    width: auto;
    /* align-self: center; */
}

.activities__btn:hover, .activities__btn:focus {
    background: var(--link-color);
    color: #FFF;
}

/* Display Scheduled Activities */

.activity-display {
    margin-top: 3em;
}

.activity-display__add {
    display: flex;
    justify-content: flex-end;
}

.activity__add-btn {
    border: 2px solid var(--black);
    font-weight: 700;
}

.activity__add-btn:hover, .activity__add-btn:focus {
    background: var(--black);
    color: #FFF;
}

.activity__add-btn-icon {
    margin-right: 0.6em;
}

.activity-display__cards {
    margin-top: 2em;

}

.activity__card {
    background: #FFF;
    padding: 1.5em 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 1.3em;
    margin-bottom: 1.2em;
}

.activity__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.activity__card-status {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: 700;
}

.activity__card-status-completed {
    background: var(--bg-completed);
    color: var(--completed-color);
}

.activity__card-status-notcompleted {
    background: var(--bg-notcompleted);
    color: var(--notcompleted-color);
}

.activity__card-content {
    margin-bottom: 1em;
}

.activity__card-data {
    margin-bottom: 0.5em;
}

.activity__card-data:last-child {
    margin-bottom: 0;
}

.activity__card-date,
.activity__card-status,
.activity__card-student-data, 
.activity__card-activity-data,
.activity__card-subject-data {
    font-weight: 700;
}

.activity__card-controls {
    display: flex;
    justify-content: center;
}

.activity__card-controls-btn {
    margin-right: 0.6em;
    flex-grow: 1;
}

.activity__card-controls-btn:last-child {
    margin-right: 0;
}

.activity__card-controls-icon {
    margin-right: 0.5em;
}

/* Initial add students & subjects form for new user */

#add-students-form, #add-subjects-form {
    margin-bottom: 40px;
}

#student-container input, #subject-container input {
    margin-bottom: 10px;
}


/* ====================
 ADD STUDENTS & SUBJECTS - add.html 
======================= */
.text-area {
    display: block;
}

.form-float {
    display: inline-flex;

}

.float-item {
    padding-right: 30px;
}

/* Log */
.activity-log-header {
    padding-top: 30px;
}

@media screen and (min-width: 676px) {
    .modal-dialog {
        max-width: 600px;
    }
}

/* ====================
 ATTENDANCE HISTORY - attend.html 
======================= */
.attendance-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}

.attendance-history__title, .attendance-history__form-title {
    text-align: center;
}

.attendance-history__form-title {
    font-family: 'Zilla Slab', serif;
}

.attendance-history__form-wrapper {
    margin: 2em auto;
    background: var(--attendance-bg);
    padding: 1.75em 1.5em;
    border-radius: 1.1em;
    width: 100%;
    max-width: 500px;
}

.attendance-history__form {
    margin-top: 1.5em;
}

.attendance__btn--history {
    display: block;
    margin: 0 auto;
    margin-top: 1.3em;
}

@media screen and (min-width: 968px) {
    .attendance-history__form-wrapper {
        max-width: 100%;
        padding: 1.2em 1.5em;
    }

    .attendance-history__form {
        display: flex;
        max-width: 70%;
        justify-content: center;
        align-items: flex-end;
        margin: 1.2em auto 0;
    }

    .attendance-history__field {
        margin-bottom: 0;
        margin-right: 1.5em;
        flex-grow: 1;
        width: 100%;
    }
}

/* ====================
 EDIT ACTIVITY, ADD ACTIVITY & ACTIVITY DETAILS - update.html, add.html, details.html
======================= */
.activity__btn-back {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 3em;
}

.activity__title {
    margin-bottom: 0.6em;
}

.activity__field-input {
    position: relative;
}

.activity__field-select {
    padding-right: 2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select-custom-dropdown {
    display: block;
    background: transparent;
    height: 100%;
    width: 2rem;
    position: absolute;
    top: 35%;
    right: 0.5em;
    pointer-events: none
}

.select-custom-dropdown:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.7em solid transparent;
    border-right: 0.7em solid transparent;
    border-top: 0.7em solid #131313;
}

.btn--activity {
    background: var(--btn-bright);
    color: #FFF;
}

.btn--activity:hover, .btn--activity:focus {
    background: var(--btn-bright-hover);
    color: #FFF;
}

/* details.html */

.activity__content {
    margin-top: 2em;
}

.activity__content-group {
    margin-bottom: 1.2em;
}

.activity__content-label {
    font-size: 1.4rem;
}

.activity__content-data {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 650px) {
    .activity {
        max-width: 650px;
        margin: 0 auto;
    }

    .activity__form-float {
        display: flex;
    }

    .activity__float-field {
        margin-right: 1.5em;
        width: 100%;
    }

    .activity__float-field:last-child {
        margin-right: 0;
    }
}

/* ====================
 ACTIVITY LOG - log.html
======================= */
.activity--log {
    max-width: 1000px;

}

.activity-log__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-log__table-wrapper {
    width: 100%;
    margin-top: 2em;
}

.activity-log__table-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-log__table-header-wrapper {
    display: none;
}

.activity-log__table-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    gap: 1em;
}


.activity-log__table-heading {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.activity-log__entry {
    font-size: 1.1rem;
    width: 100%;
    padding: 1em 0.5em;
    border-bottom: 2px solid var(--border-light);
    max-width: 400px;
    
}

.activity-log__entry:hover, .activity-log__entry:focus {
    background: var(--bg-cell-hover);
}

.activity-log__entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-log__entry-data {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.activity-log__entry-label {
    font-weight: 400;
}

.activity__entry-status-completed {
    background: var(--bg-completed);
}

.activity__entry-status-notcompleted {
    background: var(--bg-notcompleted);
}

.activity-log__entry-controls {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.activity-log__controls-btn {
    margin-right: 0.6em;
    width: 100%;
    flex-grow: 1;
}

.activity-log__controls-btn:last-child {
    margin-right: 0;
}

@media screen and (min-width: 968px) {
    .activity-log__table-header-wrapper {
        display: block;
    }

    .activity-log__header {    
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .activity-log__entry {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
        gap: 1em;
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 0;
        max-width: 100%;
    }

    .activity-log__entry-data {
        font-weight: 400;
        margin-bottom: 0;
    }

    .activity-log__entry-label {
        display: none;
    }

    .activity-log__entry-controls {
        margin-top: 0;
    }


}

/* ====================
 Profile - profile.html 
======================= */
.profile__title {
    text-align: center;
}

.profile__header {
    margin-top: 2.1em;
}

.profile__heading {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

.profile__heading:last-child {
    margin-bottom: 0;
}

.profile__heading-data {
    font-weight: 700;
}

.profile__data-wrapper {
    margin-top: 3em;
}

.btn--profile-edit {
    margin-top: 2.2em;
}

.profile__data-group {
    margin-bottom: 2em;
}

.profile__data-group:last-child {
    margin-bottom: 0;
}

.profile__data-heading {
    margin-bottom: 1.2em;
}

.profile__data-heading-title {
    font-family: 'Zilla Slab', serif;
    font-size: 2.1rem;
    padding-bottom: 0.1em;
    border-bottom: 4px solid var(--border-dark);
}

.profile__data {
    margin-bottom: 0.3em;
    font-size: 1.2rem;
}

/* ====================
 Profile - profile-edit.html 
======================= */
.profile-edit__btn-back {
    margin-top: 2em;
}

.profile-edit__form {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.profile-edit__form-input {
    margin-bottom: 0;
}

.profile-edit__btn-add {
    margin-left: 0.5em;
}

.profile-edit__data-group {
    background: var(--bg-cell-hover);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3em;
    padding: 0.5em 0.3em;
    max-width: 400px;
}

.profile-edit__data-group:hover, .profile-edit__data-group:focus {
    background: var(--bg-cell-hover-dark);
}

.profile-edit__data:last-child {
    margin-bottom: 0;
}

.profile-edit__btn-delete {
    border: 2px solid var(--black);
    padding: 0.1em 0.8em;
}

.profile-edit__btn-delete:hover, .profile-edit__btn-delete:focus  {
    background: var(--black);
    color: #FFF;
}

@media screen and (min-width: 968px) {
    .profile__data-wrapper {
        display: flex;
    }

    .profile__data-group {
        margin-right: 5.5em;
    }
}