{% extends 'base.html' %}

{% block title %}
    Attendance History
{% endblock %}

{% block content %}

    <div class="attendance-history">
        <h1 class="attendance-history__title">Attendance History</h1>
        <div class="attendance-history__form-wrapper">
            <h2 class="attendance-history__form-title">Update Attendance Record</h2>
            <form method="POST" action="/attendance" class="attendance-history__form" role="form" novalidate>
                {{ form.csrf_token() }}
                <div class="form-group attendance-history__field">
                    {{ form.attendance_date.label }}
                    {{ form.attendance_date(class_='form-control') }}
                    {% for error in form.attendance_date.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
        
                <div class="form-group attendance-history__field">
                    {{ form.student.label }}
                    <div class="attendance__student-input">
                        {{ form.student(class_='form-control attendance__field-input--student') }}
                        <span class="attendance__dropdown attendance__dropdown--history"></span>
                    </div>
                  
                    {% for error in form.student.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>  
                <p>{{ form.submit(class_='btn attendance__btn attendance__btn--history') }}</p>
            </form>
        </div>
        
        
        
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Student</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                <tr>
                    <td>{{ record.attendance_date | string_to_datetime_filter | datetime_format_filter }}</td>
                    <td>{{ record.student }}</td>
                    <td><a href="{{ url_for('delete_attendance', id=record.id) }}" class="btn btn-delete btn-xs" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-trash controls-icon"></i>Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}