{% extends 'base.html' %}

{% block title %}
    Attendance History
{% endblock %}

{% block content %}

    <div>
        <h1>Attendance History</h1>
        <h2>Total Number of Days for Date Range</h2>
        <h2>Update Attendance (insert button that displays form)</h2>
        <div class="formwrapper">
            <form method="POST" action="/attendance" class="form" role="form" novalidate>
                {{ form.csrf_token() }}
                <div class="form-group">
                    {{ form.attendance_date.label }}
                    {{ form.attendance_date(class_='form-control') }}
                    {% for error in form.attendance_date.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
        
                <div class="form-group">
                    {{ form.student.label }}
                    {{ form.student(class_='form-control') }}
                    {% for error in form.student.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>  
                <p>{{ form.submit(class_='btn btn-primary') }}</p>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Student</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                <tr>
                    <td>{{ record.attendance_date }}</td>
                    <td>{{ record.student }}</td>
                    <td><a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-trash"></i>Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}