<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:url" content="https://homeschool-journal.herokuapp.com/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Homeschool Journal" />
        <meta property="og:description" content="Homeschool Journal helps homeschooling facilitators log/schedule activities and record attendance for their students. Built by MaelingCodes." />
        <meta name="image" property="og:image" content="https://i.ibb.co/1sCtVSB/Screen-Shot-2021-07-23-at-8-37-47-AM.jpg">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- My Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

        <!-- Font Awesome CSS
        <script src="https://kit.fontawesome.com/413d010aec.js" crossorigin="anonymous"></script> -->

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@300;400&family=Zilla+Slab&display=optional" rel="stylesheet">    
    </head>
    <title>{% block title %} {% endblock %}</title>
    <body>
      
      
      <div class ="container-no-nav">
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="flask-flash flask-flash--no-nav {{ category }}">
            {{ message }}
            <button type="button" class="close" onclick="this.parentElement.style.display='none'"><i class="far fa-times-circle"></i></button>
          </div>
          {% endfor %}
        {% endif %}
        {% endwith %}  
        
        {% block content %} {% endblock %}
      </div>

      <!-- Bootstrap JS Bundle -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- My Custom JS -->
      <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>