<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" content="Homeschool Journal" />
        <meta name="description" content="A web app that helps homeschooling facilitators log/schedule activities and record attendance for their students" />
        <meta property="og:url" content="https://homeschool-journal.herokuapp.com/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Homeschool Journal" />
        <meta property="og:description" content="Homeschool Journal helps homeschooling facilitators log/schedule activities and record attendance for their students. Built by MaelingCodes." />
        <meta name="image" property="og:image" content="https://i.ibb.co/1sCtVSB/Screen-Shot-2021-07-23-at-8-37-47-AM.jpg">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- My Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

        <!-- Google Fonts -->
        <link rel="preload" href="https://fonts.googleapis.com" as="style">
        <link rel="preload" href="https://fonts.gstatic.com" as="style" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@300;400;600&family=Zilla+Slab&display=block"> 
        
        <!--Bootstrap Table CSS-->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

    </head>
    <title>{% block title %} {% endblock %}</title>
    <body>
      <div class="container-main">
        <!-- My Custom Header & Navbar -->
        <header class="header-main">
          <nav class="navbar-custom">
            <button class="navbar-icon navbar-toggle" id="navbarOpen" type="button" aria-controls="navbarPanel" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="navbar-panel" id="navbarPanel">
              <button class="navbar-icon navbar-icon--close" id="navbarClose" type="button" aria-controls="navbarPanel">
                <i class="fas fa-times"></i>
              </button>
              <h1 class="navbar-panel-logo"><a class="navbar-panel-logo__text" href="{{ url_for('index') }}">homeschool<br>journal</a></h1>
              <ul class="navbar-list">
                <li class="nav-item">
                  <a class="nav-item--link" href="{{ url_for('log') }}"><i class="fas fa-fw fa-star menu-icon"></i>Activities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item--link" href="{{ url_for ('attend') }}"><i class="fas fa-fw fa-calendar menu-icon"></i>Attendance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item--link" href="{{ url_for ('profile') }}"><i class="fas fa-fw fa-user-circle menu-icon"></i>Profile</a>
                </li>  
                <li class="nav-item">
                  {% if current_user.is_anonymous %}
                  <a class="nav-item--link nav-link--sign" href="{{ url_for ('login') }}">Sign In</a>
                  {% else %}
                  <a class="nav-item--link nav-link--sign" href="{{ url_for ('logout') }}">Sign Out</a>
                  {% endif %}
                </li>
              </ul>
              <div class=navbar__footer>
                Made with <i class="fas fa-heart footer__icon"></i> by<br> <a href="https://github.com/maelingmurphy" class="navbar__footer-link">MaelingCodes</a>
              </div>
            </div><!--close navbar-panel-->
            <h1 class="navbar-logo"><a class="navbar-logo-text" href="{{ url_for('index') }}">homeschool </br>journal</a></h1>
            <a href="{{ url_for ('profile') }}" class="navbar-icon navbar-profile">
              <i class="fas fa-user-circle"></i>
            </a>
          </nav> 
        </header>
         
        <div class ="container">
          <!-- Email List Signup -->
          <!-- <div class="email-signup">
            <div class="email-signup-prompt">
              
              <p>Thank you for visiting my project site! Interested in using a service like this for <em>your</em> homeschooling needs?</p>
              <div class="email-signup-prompt__action">
                <p><strong>Join our mailing list for updates!</strong></p>
                <button class="email-signup-prompt__btn" id="email-signup-prompt__btn"><i class="far fa-arrow-alt-circle-down"></i></button>
              </div> 
            </div>

            <form
              action="https://buttondown.email/api/emails/embed-subscribe/maelingcodes"
              method="post"
              target="popupwindow"
              onsubmit="window.open('https://buttondown.email/maelingcodes', 'popupwindow')"
              class="email-signup-form hide"
              id="email-signup-form"
            >
              <label for="bd-email">Enter your email</label>
              <input type="email" name="email" id="bd-email" class="email-signup-form__input" placeholder="Enter email address" />
              <input type="hidden" value="1" name="embed" />
              <input type="submit" value="Subscribe" id="email-subscribe-btn" class="btn--dark" />
              <input type="hidden" name="tag" value="homeschool-journal" />
              
              <div class=email-signup-form__options>  
                <input type="checkbox" name="tag" value="coding-journey">
                <label for="tag" class="email-signup-form__options-label">Would you also like to receive my general coding journey updates and resources?</label>
              </div>
            </form>
          </div> -->
           <!-- Display Flash Messages -->
          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="flask-flash {{ category }}">
              <p class="flash-message">{{ message }}</p>
              <button type="button" class="close" onclick="this.parentElement.style.display='none'"><i class="far fa-times-circle"></i></button>
            </div>
            {% endfor %}
          {% endif %}
          {% endwith %}  

          {% block content %} {% endblock %}
        </div>

        <!-- Bootstrap JS Bundle -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- My Custom JS -->
        <script src="{{ url_for('static', filename='app.js') }}"></script>

        <!-- Bootstrap Table Filter Control Extensions -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
      
        <!-- Font Awesome CSS -->
        <script src="https://kit.fontawesome.com/413d010aec.js" crossorigin="anonymous"></script>

      </div><!--close container-main-->   
      <footer><p>Made with <i class="fas fa-heart footer__icon"></i> by <a href="https://github.com/maelingmurphy" class="footer__link">MaelingCodes</a></p></footer>

    </body>
</html>