{% extends "base.html" %}

{% block title %}
    Homeschool Journal
{% endblock %}

{% block content %}
    <div id="add-user-info">
        {% if not current_user.student_number %} 
        <form class="add-user-info__form" action="" method="post" id="add-students-form" novalidate>
            {{ form.csrf_token }}
            <div class="add-user-info__form-group">
                <h2>Add Student(s)</h2>
                <div class="form-group">
                    {{ form.user_student.label }}
                    {{ form.user_student(class_="form-control") }}
                    {% for error in form.user_student.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.student_name1.label }}
                    <div id="student-container">    
                        {{ form.student_name1(class_="form-control", placeholder="Enter student's name here") }}       
                    </div>
                    {% for error in form.student_name1.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="add-user-info__form-group">
                <h2>Add Subject(s)</h2>
                <div class="form-group">
                    {{ form.user_subject.label }}
                    {{ form.user_subject(class_="form-control") }}
                    {% for error in form.user_subject.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.subject_name1.label }}
                    <div id="subject-container">
                        {{ form.subject_name1(class_="form-control", placeholder="Enter subject name here") }}
                    </div>
                    {% for error in form.subject_name1.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>   
            <p>{{ form.submit(class_="btn btn--dark add-user-info__btn") }}</p>
        </form>
        {% endif %} 
    </div>

    {% if current_user.student_number %} 
    <div class="date-wrapper">
        <span class="date__title">Today's Date</span>
        <p class="date__info">{{ todays_datetime | datetime_day_format_filter }}</span>
    </div>
    <div class="attendance">
        <h2 class="attendance__title">Log Attendance</h2>
        <form class="attendance__form" method="POST" action="/index" role="form" novalidate>
            {{ form2.csrf_token() }}
            <div class="attendance__fields">
                <div class="attendance__field attendance__field--date">
                    {{ form2.attendance_date.label(class_='attendance__field-label') }}
                    {{ form2.attendance_date(class_='datepicker attendance__field-input', value=todays_datetime | datepicker_format_filter) }}
                    {% for error in form2.attendance_date.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
        
                <div class="attendance__field attendance__field--student">
                    {{ form2.student.label(class_='attendance__field-label') }}
                    <div class="attendance__student-input">
                        {{ form2.student(class_='attendance__field-input attendance__field-input--student') }}
                        <span class="attendance__dropdown"></span>
                    </div>
                    
                    {% for error in form2.student.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>  
            </div><!--close attendance__fields-->   
            {{ form2.submit(class_='btn attendance__btn') }}
        </form>
    </div><!--close attendance-->
    
    <div class="activities">
        <h2 class="activities__title">Scheduled Activities</h2>
        <div class="activities__wrapper">
            <form method="POST" action="/index" class="activities__form" novalidate>
                {{ form3.csrf_token() }}
                <div class="activities__field-wrapper">
                    <div class="activities__field activities__field-display">
                        {{ form3.display.label }}
                        <div class="activities__input">
                            {{ form3.display(class_='form-select--light activities__field-input activities__display-input') }}
                            <span class="activities__input-dropdown"></span>
                        </div>
                        
                        {% for error in form3.display.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="activities__field activities__field-student">
                        {{ form3.student.label }}
                        <div class="activities__input">
                            {{ form3.student(class_='form-select--light activities__field-input activities__student-input') }}
                            <span class="activities__input-dropdown"></span>
                        </div>
                        {% for error in form3.student.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div> 
                {{ form3.display_submit(class_='btn activities__btn') }}
            </form>
        </div>
        
        <section class="activity-display">
            <div class="activity-display__add">
                <a href="{{ url_for('add') }}" id="add-btn" class="btn activity__add-btn"><i class="fas fa-plus activity__add-btn-icon"></i>Add New Activity</a>
            </div>
            <div class="activity-display__cards">
                {% for activity in activities %}
                <div class="activity__card">
                    <div class="activity__card-header">
                        <p class="activity__card-date">{{ activity.activity_date | datetime_format_filter }}</p>
                        <p class="activity__card-status activity__card-status-{{ activity.status | lower | replace(" ", "") }}">{{ activity.status }}</p>
                    </div>
                    <div class=activity__card-content>
                        <p class="activity__card-data activity__card-student">Student: <span class="activity__card-student-data">{{ activity.student }}</span></p>
                        <p class="activity__card-data activity__card-activity">Activity: <span class="activity__card-activity-data">{{ activity.title }}</span></p>
                        <p class="activity__card-data activity__card-subject">Subject: <span class="activity__card-subject-data">{{ activity.subject }}</span></p>
                    </div>
                    <div class="activity__card-controls">
                        <a href="{{ url_for('update', id=activity.id) }}" class="btn btn-edit activity__card-controls-btn"><i class="fas fa-edit activity__card-controls-icon"></i>Edit</a>
                        <a href="{{ url_for('details', id=activity.id) }}" class="btn btn-details activity__card-controls-btn"><i class="fas fa-file-alt activity__card-controls-icon"></i></i>Details</a>
                        <a href="{{ url_for('delete', id=activity.id) }}" class="btn btn-delete activity__card-controls-btn" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-trash activity__card-controls-icon"></i>Delete</a>
                    </div>
                </div><!--close activity__card-->
                {% endfor %}
            </div><!--close activity-display__cards-->
        </section>    
    </div>
    {% endif %}

{% endblock %}