{% extends "base.html" %}

{% block title %}
    Homeschool Journal
{% endblock %}

{% block content %}
    <div>
        <h1>Welcome {{ current_user.username }}</h1>
    </div>
   
    <div id="add-user-info">
        {% if not current_user.student_number %} 
        <form action="" method="post" id="add-students-form" novalidate>
            {{ form.csrf_token }}
            <h2>Add Student(s)</h2>
            <div class="form-group">
                {{ form.user_student.label }}
                {{ form.user_student(class_="form-control") }}
                {% for error in form.user_student.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.student_name1.label }}
                <div id="student-container">    
                    {{ form.student_name1(class_="form-control", placeholder="Enter student's name here") }}       
                </div>
                {% for error in form.student_name1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <h2>Add Subject(s)</h2>
            <div class="form-group">
                {{ form.user_subject.label }}
                {{ form.user_subject(class_="form-control") }}
                {% for error in form.user_subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.subject_name1.label }}
                <div id="subject-container">
                    {{ form.subject_name1(class_="form-control", placeholder="Enter subject name here") }}
                </div>
                {% for error in form.subject_name1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
        </form>
        {% endif %} 
    </div>

    <div id="log-attendance">
        <h2>Log Attendance</h2>
        <div id="log-container">
            <div class="formwrapper" id="log-attendance">
                <form method="POST" action="/index" class="form" role="form" id="log-attendance-form" novalidate>
                    {{ form2.csrf_token() }}
                    <div class="form-group">
                        {{ form2.attendance_date.label }}
                        {{ form2.attendance_date(class_='form-control') }}
                        {% for error in form2.attendance_date.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            
                    <div class="form-group">
                        {{ form2.student.label }}
                        {{ form2.student(class_='form-control') }}
                        {% for error in form2.student.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>  
                    <p>{{ form2.submit(class_='btn btn-primary') }}</p>
                </form>
            </div>
        </div>
    </div>

    <div id="activity-week">
        <h2>Activities for the week of {{ date }}</h2>
        
    </div>
{% endblock %}