{% extends "base.html" %}

{% block title %}
    Homeschool Journal
{% endblock %}

{% block content %}
    <div id="add-user-info">
        {% if not current_user.student_number %} 
        <form action="" method="post" id="add-students-form" novalidate>
            {{ form.csrf_token }}
            <h2>Add Student(s)</h2>
            <div class="form-group">
                {{ form.user_student.label }}
                {{ form.user_student(class_="form-control") }}
                {% for error in form.user_student.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.student_name1.label }}
                <div id="student-container">    
                    {{ form.student_name1(class_="form-control", placeholder="Enter student's name here") }}       
                </div>
                {% for error in form.student_name1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <h2>Add Subject(s)</h2>
            <div class="form-group">
                {{ form.user_subject.label }}
                {{ form.user_subject(class_="form-control") }}
                {% for error in form.user_subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.subject_name1.label }}
                <div id="subject-container">
                    {{ form.subject_name1(class_="form-control", placeholder="Enter subject name here") }}
                </div>
                {% for error in form.subject_name1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
        </form>
        {% endif %} 
    </div>

    {% if current_user.student_number %} 
    <div class="date-wrapper">
        <h2 class="date-title">Today's Date</h2>
        <p class="date-info">{{ today | datetime_format_filter }}</p>
    </div>
    <div class="attendance">
        <h2 class="attendance__title">Log Attendance</h2>
        <form class="attendance__form" method="POST" action="/index" role="form" novalidate>
            {{ form2.csrf_token() }}
            <div class="attendance__fields">
                <div class="attendance__field attendance__field--date">
                    {{ form2.attendance_date.label(class_='attendance__field-label') }}
                    {{ form2.attendance_date(class_='datepicker attendance__field-input', value=today) }}
                    {% for error in form2.attendance_date.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
        
                <div class="attendance__field attendance__field--student">
                    {{ form2.student.label(class_='attendance__field-label') }}
                    <div class="attendance__student-input">
                        {{ form2.student(class_='attendance__field-input attendance__field-input--student') }}
                        <span class="attendance__dropdown"></span>
                    </div>
                    
                    {% for error in form2.student.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>  
            </div><!--close attendance__fields-->   
            {{ form2.submit(class_='btn attendance__btn') }}
        </form>
    </div><!--close attendance-->
    
    <div id="activity-week">
        <h3>Display</h3>
        <div class="formwrapper">
            <form method="POST" action="/index" class="form" novalidate>
                {{ form3.csrf_token() }}
                <div class="form-group">
                    {{ form3.display.label }}
                    {{ form3.display(class_='form-control') }}
                    {% for error in form3.display.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form3.student.label }}
                    {{ form3.student(class_='form-control') }}
                    {% for error in form3.student.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <p>{{ form3.display_submit(class_='btn btn-primary') }}</p>
            </form>
        </div>
        
        <section>
            <div class="activity-log-header">
                <h2>Activities <a href="{{ url_for('add') }}" id="add-btn" class="btn btn-add float-right">Add New Activity</a></h2>
            </div>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Activity</th>
                        <th>Subject</th>
                        <th>Student</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>  
                </thead>
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.activity_date | string_to_datetime_filter | datetime_format_filter }}</td>
                        <td>{{ activity.title }}</td>
                        <td>{{ activity.subject }}</td>
                        <td>{{ activity.student }}</td>
                        <td>{{ activity.status }}</td>
                        <td>
                            <a href="{{ url_for('update', title=activity.title) }}" class="btn btn-update btn-xs"><i class="far fa-edit"></i>Update</a>
                            <a href="{{ url_for('details', title=activity.title) }}" class="btn btn-details btn-xs"><i class="fas fa-list"></i></i>Details</a>
                            <a href="{{ url_for('delete', id=activity.id) }}" class="btn btn-delete btn-xs" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>    
    </div>
    {% endif %}

{% endblock %}