{% extends 'base.html' %}

{% block title %}
    Activity Log
{% endblock %}

{% block content %}

    {% if (not current_user.student_number) or (not current_user.subject_number) %}
    <div class="user-alert">
        <p class="user-alert__note">In order to start adding activities, please add student and subject information to your profile.</p>
        <a href="{{ url_for('edit_profile') }}" class="btn btn--dark">Edit Profile</a>
    </div>
    {% endif %}

    {% if current_user.student_number and current_user.subject_number %}
    <div class="activity activity--log">
        <a class="activity__btn-back" href="{{ url_for('index') }}"><i class="fas fa-long-arrow-alt-left controls-icon"></i>Return to Home</a>

        <div class="activity-log__header">
            <h1 class="activity__title">Activity Log</h1>
            <a href="{{ url_for('add') }}" id="add-btn" class="btn activity__add-btn"><i class="fas fa-plus activity__add-btn-icon"></i>Add New Activity</a>
        </div>
        <div class="activity-log__table-wrapper">
            <div class="activity-log__table-wrapper">
                <div class="activity-log__table-header-wrapper">
                    <div class="activity-log__table-header">
                        <h2 class="activity-log__table-heading">Date</h2>
                        <h2 class="activity-log__table-heading">Status</h2>
                        <h2 class="activity-log__table-heading">Student</h2>
                        <h2 class="activity-log__table-heading">Activity</h2>
                        <h2 class="activity-log__table-heading">Subject</h2>
                        <h2 class="activity-log__table-heading">Action</h2>
                    </div>
                </div>
                
                <div class="activity-log__table-content">
                    {% for activity in activities %}
                    <div class=activity-log__entry>     
                        <p class="activity-log__entry-data">{{ activity.activity_date | datetime_format_filter }}</p>
                        <p class="activity-log__entry-data"><span class="activity__entry-status-{{ activity.status | lower | replace(" ", "") }}">{{ activity.status }}</span></p>   
                        <p class="activity-log__entry-data"><span class="activity-log__entry-label">Student: </span>{{ activity.student }}</p>
                        <p class="activity-log__entry-data"><span class="activity-log__entry-label">Activity: </span>{{ activity.title }}</p>
                        <p class="activity-log__entry-data"><span class="activity-log__entry-label">Subject: </span>{{ activity.subject }}</p> 
                        <p class="activity-log__entry-data activity-log__entry-controls">
                            <a href="{{ url_for('update', id=activity.id) }}" class="btn btn-edit activity-log__controls-btn" title="Edit Activity"><i class="fas fa-edit activity-log__controls-icon"></i><span class="activity-log__controls-btn-text">Edit</span></a>
                            <a href="{{ url_for('details', id=activity.id) }}" class="btn btn-details activity-log__controls-btn" title="View Activity Details"><i class="fas fa-file-alt activity-log__controls-icon"></i><span class="activity-log__controls-btn-text">Details</span></a>
                            <a href="{{ url_for('delete', id=activity.id) }}" class="btn btn-delete activity-log__controls-btn" title="Delete Activity" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-trash activity-log__controls-icon"></i><span class="activity-log__controls-btn-text">Delete</span></a>
                        </p>     
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    

<!-- TEST TABLE WITH FILTER
    <h2>TEST TABLE</h2>
    <div class="container">
        <table id="" data-toggle="table" data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th data-field="activity" data-filter-control="select" data-sortable="true">Activity</th>
                    <th data-field="subject" data-filter-control="select" data-sortable="true">Subject</th>
                    <th data-field="status" data-filter-control="select" data-sortable="true">Status</th>
                    <th data-field="student" data-filter-control="select" data-sortable="true">Student</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01-02-21</td>
                    <td>Derivatives</td>
                    <td>Calculus</td>
                    <td>Not Completed</td>
                    <td>Maria</td>
                </tr>
                <tr>
                    <td>01-10-21</td>
                    <td>Developing a Hypothesis</td>
                    <td>Science</td>
                    <td>Not Completed</td>
                    <td>Sam</td>
                </tr>
                <tr>
                    <td>01-03-21</td>
                    <td>Color Theory</td>
                    <td>Art</td>
                    <td>Completed</td>
                    <td>Sam</td>
                </tr>
                <tr>
                    <td>01-04-21</td>
                    <td>Single Cell Organisms</td>
                    <td>Biology</td>
                    <td>Completed</td>
                    <td>Sam</td>
                </tr>
            </tbody>
        </table>
    </div>
-->
{% endblock %}

           