{% extends 'base.html' %}

{% block title %}
    Activity Log
{% endblock %}

{% block content %}
    <div class="activity-log-header">
        <h2>Activity Log <a href="{{ url_for('add') }}" id="add-btn" class="btn btn-success float-right">Add New Activity</a></h2>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Activity</th>
                <th>Subject</th>
                <th>Student</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
            <tr>
                <td>{{ activity.activity_date }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.subject }}</td>
                <td>{{ activity.student }}</td>
                <td>{{ activity.status }}</td>   
                <td>
                    <a href="{{ url_for('update', title=activity.title) }}" class="btn btn-info btn-xs"><i class="far fa-edit"></i>Update</a>
                    <a href="{{ url_for('details', title=activity.title) }}" class="btn btn-info btn-xs"><i class="fas fa-list"></i></i>Details</a>
                    <a href="{{ url_for('delete', id=activity.id) }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-trash"></i>Delete</a>
                </td>     
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- TEST TABLE WITH FILTER
    <h2>TEST TABLE</h2>
    <div class="container">
        <table id="" data-toggle="table" data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th data-field="activity" data-filter-control="select" data-sortable="true">Activity</th>
                    <th data-field="subject" data-filter-control="select" data-sortable="true">Subject</th>
                    <th data-field="status" data-filter-control="select" data-sortable="true">Status</th>
                    <th data-field="student" data-filter-control="select" data-sortable="true">Student</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01-02-21</td>
                    <td>Derivatives</td>
                    <td>Calculus</td>
                    <td>Not Completed</td>
                    <td>Maria</td>
                </tr>
                <tr>
                    <td>01-10-21</td>
                    <td>Developing a Hypothesis</td>
                    <td>Science</td>
                    <td>Not Completed</td>
                    <td>Sam</td>
                </tr>
                <tr>
                    <td>01-03-21</td>
                    <td>Color Theory</td>
                    <td>Art</td>
                    <td>Completed</td>
                    <td>Sam</td>
                </tr>
                <tr>
                    <td>01-04-21</td>
                    <td>Single Cell Organisms</td>
                    <td>Biology</td>
                    <td>Completed</td>
                    <td>Sam</td>
                </tr>
            </tbody>
        </table>
    </div>
-->
{% endblock %}

           