{% extends "base-no-nav.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container-sign-in">
        <h1 class="header">Welcome back!</h1>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32, class_='form-control') }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32, class_='form-control') }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class_='btn btn-primary', value='sign in') }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </div>
    
{% endblock %}