{% extends "base-no-nav.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="wrapper-form">
        <div class="container container-form container-sign-in">
            <header class="header-form header-sign-in">
                <h1 class="header-title">homeschool</br>journal</h1>
                <p class="header-description">
                    An online tool to help you schedule lessons, log learning activities & more. 
                </p>
            </header>
            <main class="content-form">
                <div class="content-form__header">
                    <h1 class="heading heading-sign-in">Welcome!</h1>
                    <p class="content-form__subheading">Sign in to Homeschool Journal</p>
                    <p class="content-form__info">
                        An online tool to help you schedule lessons, log learning activities & more. 
                    </p>
                </div>
                <div class="guest-login">
                    <p class="guest-login__info">Click on 'Guest Login' to auto-fill the form for easy access</p>
                    <button class="btn btn--bright" id="guest-login-btn" onclick="autoFillForm()">Guest Login</button>
                </div>
                <form class="form form--sign-in" action="" method="post" novalidate>
                    {{ form.csrf_token }}
                    <p class="form-field">
                        {{ form.username.label }}
                        {{ form.username(size=32, class_='form-control input-field', placeholder='Enter username') }}
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="form-field">
                        {{ form.password.label }}
                        {{ form.password(size=32, class_='form-control input-field', placeholder='Enter password', type="password") }}
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
    
                    <label class="checkbox" for="remember_me">
                        {{ form.remember_me(class='checkbox__input') }}
                        <div class="checkbox__box"></div>
                        Remember Me
                    </label>
                    
                    <p>{{ form.submit(class_='btn btn-primary btn-form', value='Sign In') }}</p>
                    <p class="form-footer">Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a></p>
                </form>
            </main>
        </div><!--close container-sign-in-->
    </div>
  
    
{% endblock %}