{% extends 'base.html' %}

{% block title %}
    Profile: {{ current_user.username }}
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div>
            <p class="profile-heading">Username: {{ current_user.username }}</p>
        </div>
        <div class="">
            <p class="profile-heading">Email: {{ current_user.email }}</p>
        </div>
        <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>
        <div class="profile-flex">
            <div class="profile-flex-item">
                <p class="profile-heading">Students</p>
                {% for student in current_user.students %}
                    <p>{{ student }}</p>
                {% endfor %}
            </div>
            <div class="profile-flex-item">
                <p class="profile-heading">Subjects</p>
                {% for subject in current_user.subjects %}
                    <p>{{ subject }}</p>
                {% endfor %}
            </div>
        </div>
        
        
    </div>
    
{% endblock %}