{% extends 'base.html' %}

{% block title %}
    Profile: {{ current_user.username }}
{% endblock %}

{% block content %}
    <div class="profile">
        <h1 class="profile__title">Profile Details</h1>
        <div class="profile__header">
            <p class="profile__heading">Username: <span class="profile__heading-data">{{ current_user.username }}</span></p>
            <p class="profile__heading">Email: <span class="profile__heading-data">{{ current_user.email }}</span></p>
        </div>
        <div class="profile__data-wrapper">
            <a href="{{ url_for('edit_profile') }}" class="btn btn--dark btn--profile-edit"><i class="fas fa-pencil-alt controls-icon"></i>Edit Students & Subjects</a>
            <div class="profile__data-group">
                <p class="profile__data-heading"><span class="profile__data-heading-title">Students</span></p>
                <div class="profile__data-content">
                    {% for student in current_user.students %}
                        <p class="profile__data">{{ student }}</p>
                    {% endfor %}
                </div>    
            </div>

            <div class="profile__data-group">
                <p class="profile__data-heading"><span class="profile__data-heading-title">Subjects</span></p>
                <div class="profile__data-content">
                    {% for subject in current_user.subjects %}
                        <p class="profile__data">{{ subject }}</p>
                    {% endfor %}
                </div>    
            </div>
        </div>    
    </div>
    
{% endblock %}