{% extends 'base.html' %}

{% block title %}
    Edit Profile: {{ current_user.username }}
{% endblock %}

{% block content %}
    <div class="profile-edit">
        <h1 class="profile__title">Edit Profile</h1>
        <a class="btn-back profile-edit__btn-back" href="{{ url_for('profile') }}"><i class="fas fa-long-arrow-alt-left controls-icon"></i>Back to Profile</a>
        <div class="profile__header">
            <p class="profile__heading">Username: <span class="profile__heading-data">{{ current_user.username }}</span></p>
            <p class="profile__heading">Email: <span class="profile__heading-data">{{ current_user.email }}</span></p>
        </div>
        <div class="profile__data-wrapper">
            <div class="profile__data-group">
                <p class="profile__data-heading"><span class="profile__data-heading-title">Students</span></p>
                <form method="POST" action="/profile-edit" class="profile-edit__form" role="form" novalidate>
                    {{ form.csrf_token() }}
                    <div class="profile-edit__form-group">
                        <div>    
                            {{ form.student_name(class_="form-control profile-edit__form-input", placeholder="Enter student's name") }}       
                        </div>
                        {% for error in form.student_name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <p>{{ form.submit(class_='btn btn--dark profile-edit__btn-add') }}</p>
                </form>
                {% for student in current_user.students %}
                    <div class="profile-edit__data-group">
                        <p class="profile-edit__data">{{ student }}</p>
                        <a href="{{ url_for('remove_student', id=student.id) }}" class="btn profile-edit__btn-delete" onclick="return confirm('Are you sure you want to remove this student?')">Delete</a>
                    </div>
                {% endfor %}
            </div>

            <div class="profile__data-group">
                <p class="profile__data-heading"><span class="profile__data-heading-title">Subjects</span></p>
                <form method="POST" action="/profile-edit" class="profile-edit__form" role="form" novalidate>
                    {{ form2.csrf_token() }}
                    <div class="profile-edit__form-group">
                        <div>    
                            {{ form2.subject_name(class_="form-control profile-edit__form-input", placeholder="Enter subject name") }}       
                        </div>
                        {% for error in form2.subject_name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <p>{{ form2.submit(class_='btn btn--dark profile-edit__btn-add') }}</p>
                </form>
                {% for subject in current_user.subjects %}
                    <div class="profile-edit__data-group">
                        <p class="profile-edit__data">{{ subject }}</p>
                        <a href="{{ url_for('remove_subject', id=subject.id) }}" class="btn profile-edit__btn-delete" onclick="return confirm('Are you sure you want to remove this subject?')">Delete</a>
                    </div>
                {% endfor %}
            </div>
        </div>     
    </div>
    
{% endblock %}