{% extends 'base.html' %}

{% block title %}
    Update Activity
{% endblock %}

{% block content %}
    <a href="{{ url_for('log') }}"><i class="fas fa-chevron-circle-left"></i>All Activities</a>

    <h1> Update Activity: {{ title }}</h1>
    <div class="formwrapper">
        <form method="POST" action="/add" class="form" role="form" novalidate>
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(size=100, class_='form-control', placeholder='Enter activity title') }}
                {% for error in form.title.errors %}
                <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-float">
                <div class="form-group float-item">
                    {{ form.activity_date.label }}
                    {{ form.activity_date(class_='datepicker form-control', value=activity.activity_date) }}
                    {% for error in form.activity_date.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
    
                <div class="form-group float-item">
                    {{ form.subject.label }}
                    {{ form.subject(class_='form-control') }}
                </div>
    
                <div class="form-group float-item">
                    {{ form.student.label }}
                    {{ form.student(class_='form-control') }}
                </div>  

            </div>
            
        
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(size=500, class_='form-control', placeholder='Enter activity description') }}
            </div>

            
            <div class="form-group">
                {{ form.resources.label }}
                {{ form.resources(size=500, class_='form-control', placeholder='List any resources needed for this activity (e.g. supplies, books, links, etc.)') }}
            </div>

            <div class="form-group">
                {{ form.notes.label }}
                {{ form.notes(size=500, class_='form-control', placeholder='Add any additional notes or feedback for this activity') }}
            </div>

            <div class="form-group">
                {{ form.status.label }}
                {{ form.status }}
            </div>
            <p>{{ form.submit(class_='btn btn-primary') }}</p>
        </form>
    </div>
{% endblock %}
